@import './vars.scss';

body{
    background-image: url($background-ice);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $color-dark-blue;
    // Font Family
    font-family: 'Helvetica Neue';
}

canvas{
    display: block;
}

footer{
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    p{
        color: $color-white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        width: 80%;
    }

    div{
        width: 10%;
        display: flex;
        align-items: center;
        padding: 0 20px 0;
        img{
            width: 100%;
            vertical-align: middle;
        }
    }

    .hbo-container{
        position: absolute;
        top: calc(-100% + 20px);
        width: 100%;
        img{
            width: 200px;
        }
    }
}

.whiteW__container{
    position: relative;
    &__bottle{
        width: 500px;
        height: auto;
        margin: 5% auto 0;
    }
}

.snow{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}