// $background-ice: '../images/Fondo-White-Walker-min.jpg';
$background-ice: 'https://www.tiendasjumbo.co/arquivos/Fondo-White-Walker-min.jpg';
$color-dark-blue: #004e86;
$color-black: #000;
$color-white: #fff;